#all{
    position: absolute;
    height: 100%;
    width: 100%;
    animation-name: bground;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    overflow: hidden;
}

#shake{
   position: relative;
    height: 100%;
    width: 100%;
    animation-name: shake;
    animation-duration: 1s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite; 
}

h1{
    animation-name: shake;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    position: relative;
    background-image: linear-gradient( to left, lightgreen, pink, brown);
}

h2{
    animation-name: roll;
    animation-duration: 1s;
    animation-delay: .5s;
    animation-iteration-count: infinite;
    font-family: Courier, monospace;
    font-size: 40px;
    color: hotpink;
    background-color: lawngreen;
}

@keyframes roll{
    0% {transform: rotate(180deg)}
    50% { transform: rotate(0deg)}
    100% {transform: rotate(-180deg)}
}

@keyframes shake{
    0% {font-size: 40px;}
    100% {font-size: 50px;}
}

@keyframes bground{
    0% {background-color: aqua;}
    100% {background-color: darkgoldenrod;}
}